<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialPlaces Contact</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header class="py-2"></header>
<main role="main" class="container main">
    {% block body %}{% endblock %}
</main>
<footer class="text-right pt-3">
    <div class="pt-2 container border-top">
        <p>
            &copy; {{ "now"|date('Y') }} . <i class="fa fa-bullseye text-danger"></i>Symfony 4 App. <b>Built by Dami.</b>
        </p>
    </div>
</footer>


{% block javascripts %}{% endblock %}
</body>
</html>